@charset "UTF-8";

#wrap{
	width:970px;
	margin:0;
	margin-left:auto;
	margin-right:auto;
}
h1{
	color:green;
}
table{
	width:100%;
	boarder-collpase:collpase; /* 테두리 한줄로 */
	font-size:12px;
	line-heght:24px;
}
td,th{
	border:#d3d3d3 solid 1px;
	padding:5px;
}
th{
	background: yellowgreen;
}
a{
	text-decoration:none; /* 밑줄 없애기 */
	color:black;
}
a:hover{
	text-decoration:underline;
	color:green;
}
